@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

@font-face {
  font-family: 'Lao Muang Khong';
  src: url('./assets/fonts/LaoMuangKhong-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  color: #262626;
  background-color: #F1F1F1;
}

h1 {
  font-weight: 800;
  font-size: 96px;
  font-family: 'Lalezar', system-ui;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  line-height: 96.875%; /* 93px */
  letter-spacing: 4.8px;
}
